<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hqna">
	<insert id="insertHqna" parameterType="com.sp.hqna.Hqna">
		INSERT INTO question(qnacode, catCode, userIdx, subject, content)
			VALUES(question_seq.NEXTVAL, 2, #{userIdx}, #{subject}, #{content} )	
	</insert>
	
	<sql id="where-list">
		<choose>
			<when test="key=='all'">
				(INSTR(subject, #{value}) &gt; 0
					OR DBMS_LOB.INSTR(content, #{value}) &gt; 0)
			</when>
			<when test="key=='created'">
				(TO_CHAR(created, 'YYYY-MM-DD') = #{value}
					OR TO_CHAR(created, 'YYYYMMDD') = #{value})
			</when>
			<when test="key=='content'">
				DBMS_LOB.INSTR(content, #{value}) &gt; 0
			</when>
			<otherwise>
				INSTR(${key}, #{value}) &gt; 0
			</otherwise>
		</choose>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM question
		join tb_user on question.userIdx=tb_user.userIdx
		<where>
			<if test="value != null and value !=''">
				<include refid="where-list"/>
			</if>		
		AND catCode = 2
		</where>
	</select>
	
	<select id="listHqna" parameterType="map" resultType="com.sp.hqna.Hqna">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
					SELECT qnacode, q.userIdx, subject, hitCount, 
		            TO_CHAR(created, 'YYYY-MM-DD')created, catCode
		            FROM question q
		            JOIN tb_user u ON u.userIdx=q.userIdx
		            <where>
						<if test="value != null and value !=''">
							<include refid="where-list"></include>
						</if>		
		           	AND catCode =2
					</where>
		            ORDER BY qnacode DESC
<![CDATA[
		    ) tb WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
]]>			
	</select>
	
	<update id="updateHitCount" parameterType="Integer">
		UPDATE question SET hitCount=hitCount+1 WHERE qnaCode=#{qnaCode}
	</update>
	
	<select id="readHqna" parameterType="map" resultType="com.sp.hqna.Hqna">
	SELECT qnaCode, q.userIdx, subject, content, hitCount, created,
	FROM question q
	JOIN tb_user u ON u.userIdx=q.userIdx
	WHERE qnaCode=#{qnaCode}
	</select> 
	
	<select id="preRedaHqna" parameterType="map" resultType="com.sp.hqna.Hqna">
		SELECT tb.*FROM (
			SELECT qnaCode, subject
			FROM question q
			JOIN tb_user u ON u.userIdx=q.userIdx
			<where>
			<if test="value != null and value !=''">
				<include refid="where-list"/>
			</if>
			AND (qnaCode &gt; #{qnaCode})
			</where>
				ORDER BY qnaCode ASC
		)tb WHERE ROWNUM=1
	</select>
	
	<select id="nextReadHqna" parameterType="map" resultType="com.sp.hqna.Hqna">
		SELECT tb.*FROM (
			SELECT qnaCode, subject
			FROM question q
			JOIN tb_user u ON u.userIdx=q.userIdx
			<where>
			<if test="value !=null and value !=''">
				<include refid="where-list"/>
			</if>
			AND(qnaCode &lt; #{qnaCode})
			</where>
				ORDER BY qnaCode ASC
		)tb WHERE ROWNUM=1
	</select>
</mapper>