<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="readLoginInfo" resultType="com.sp.member.User" parameterType="String">
		select userIdx,userName,userId,userPwd from tb_user where userId=#{userId}
	</select>
	
	<select id="idCheck" resultType="Integer" parameterType="String">
		select NVL(COUNT(*),0) from tb_user where userId=#{userId}
	</select>
	
	<insert id="insertMember" parameterType="com.sp.member.User">
		INSERT INTO tb_user(userIdx, rolecode, userId, userPwd, userName, postCode, userAddr1, userAddr2, etc, userTel, userEmail, userBirth, identCode, enabled)
			VALUES(user_seq.NEXTVAL, 1, #{userId}, #{userPwd}, #{userName}, #{postCode}, #{userAddr1}, #{userAddr2}, #{etc}, #{userTel}, #{userEmail}, #{userBirth}, 10, 1)
	</insert>
</mapper>