<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="party">
	<insert id="partyInsert" parameterType="com.sp.party.Party">
		INSERT INTO party(partyCode, subject, content, startDate, endDate, userIdx, max, enabled, confirmCode)
    		VALUES(PARTY_SEQ.NEXTVAL, #{subject}, #{content}, #{startDate}, #{endDate}, #{userIdx}, #{max}, #{enabled}, #{confirmCode})
	</insert>
	
	<!-- sql -->
	<sql id="where-list">
		<choose>
			<when test="searchKey == 'all'">
			   (INSTR(subject, #{searchValue}) &gt; 0
		          OR DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0)
			</when>
			<when test="searchKey == 'subject'">
			   INSTR(subject, #{searchValue}) &gt; 0
			</when>
			<when test="searchKey == 'content'">
			    DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0
			</when>
			<when test="searchKey == 'userId'">
			   INSTR(userId, #{searchValue}) &gt; 0
			</when>
			<when test="searchKey == 'userCount'">
			   max = #{searchValue}
			</when>
			<otherwise>
			    (TO_CHAR(${searchKey}, 'YYYYMMDD') = #{searchValue}
		          OR TO_CHAR(${searchKey}, 'YYYY-MM-DD') = #{searchValue})
			</otherwise>
		</choose>
	</sql>
	<!-- /sql -->
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM party p
		JOIN tb_user u ON p.userIdx = u.userIdx
		<where>
			<if test="searchValue != null and searchValue != ''">
	     	    <include refid="where-list"/>
	     	</if>
	     	AND (enabled = 0)
		</where>
	</select>
	
	<select id="listParty" parameterType="map" resultType="com.sp.party.Party">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT partyCode, subject, content, 
		            TO_CHAR(startDate, 'YYYY-MM-DD') startDate, 
		            TO_CHAR(endDate, 'YYYY-MM-DD') endDate, 
		            p.userIdx,
		            u.roleCode,
		            u.userId,
		            u.userName,
		            TO_CHAR(created, 'YYYY-MM-DD') created, max, enabled, confirmCode
		        FROM party p
		        JOIN tb_user u ON p.userIdx = u.userIdx
		        <where>
		        	<if test="searchValue != null and searchValue != ''">
			     	    <include refid="where-list"/>
			     	</if>
		        	AND (enabled = 0)
		        </where>
		        ORDER BY partyCode DESC
		<![CDATA[
		    ) tb WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
		]]>
	</select>

	<select id="listPartyNew" resultType="com.sp.party.Party">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT partyCode, subject, content, 
		            TO_CHAR(startDate, 'YYYY-MM-DD') startDate, 
		            TO_CHAR(endDate, 'YYYY-MM-DD') endDate, 
		            p.userIdx,
		            u.roleCode,
		            u.userId,
		            u.userName,
		            TO_CHAR(created, 'YYYY-MM-DD') created, max, enabled, confirmCode
		        FROM party p
		        JOIN tb_user u ON p.userIdx = u.userIdx
		        WHERE (enabled = 0)
		        ORDER BY partyCode DESC  
		<![CDATA[
		    ) tb WHERE ROWNUM <= 5
		) WHERE rnum >= 1
		]]>
	</select>
	
		<!-- 파티 게시글 상세 -->
	<select id="detailParty" parameterType="Integer" resultType="com.sp.party.Party">
		SELECT p.partyCode, subject, content, 
		    TO_CHAR(startDate, 'YYYY-MM-DD') startDate, 
		    TO_CHAR(endDate, 'YYYY-MM-DD') endDate, 
		    p.userIdx,
		    u.roleCode,
		    u.userId,
		    u.userName,
		    TO_CHAR(created, 'YYYY-MM-DD') created, max, enabled, confirmCode,
		    NVL(partyPeopleCount, 0) partyPeopleCount
		FROM party p
		JOIN tb_user u ON p.userIdx = u.userIdx
		LEFT OUTER JOIN (
		    SELECT partyCode, COUNT(*) partyPeopleCount FROM partyPeople
		    GROUP BY partyCode
		) pp ON p.partyCode = pp.partyCode
		WHERE p.partyCode = #{partyCode}
		AND (enabled = 0)
	</select>
	
	<!-- 이전글 -->
	<select id="preReadParty" parameterType="map" resultType="com.sp.party.Party">
		SELECT tb.* FROM (
		    SELECT partyCode, subject
		    FROM party p
		    JOIN tb_user u ON p.userIdx = u.userIdx
		    <where>
				<if test="keyword != null and keyword != '' ">
            		<include refid="where-list"/>
              	</if>
              	AND (partyCode &gt; #{partyCode})
              	AND (enabled = 0)
            </where>
		    ORDER BY created ASC
		) tb WHERE ROWNUM=1
	</select>

	<!-- 다음글 -->
	<select id="nextReadParty" parameterType="map" resultType="com.sp.party.Party">
		SELECT tb.* FROM (
		    SELECT partyCode, subject
		    FROM party p
		    JOIN tb_user u ON p.userIdx = u.userIdx
		    <where>
				<if test="keyword != null and keyword != '' ">
            		<include refid="where-list"/>
              	</if>
              	AND (partyCode &lt; #{partyCode})
              	AND (enabled = 0)
            </where>
		    ORDER BY created DESC
		) tb WHERE ROWNUM=1
	</select>
	
	<insert id="insertJoinParty" parameterType="map">
		INSERT INTO partypeople(userIdx, pCode, partyCode, memo)
    		VALUES(#{userIdx}, 0, #{partyCode}, #{memo})
	</insert>
	
	<select id="dataCountJoinParty" parameterType="Integer" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
		FROM party p
		JOIN partyPeople pp
		ON p.partyCode = pp.partyCode
		WHERE pp.partyCode = #{partyCode}
	</select>
	
	<select id="listJoinParty" parameterType="map" resultType="com.sp.party.JoinParty">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT pp.partyCode, memo, u.userIdx, u.userId, u.userName, 
		            TO_CHAR(pp.created, 'YYYY-MM-DD') created
		        FROM party p
		        JOIN partyPeople pp
		        ON p.partyCode = pp.partyCode
		        JOIN tb_user u
		        ON pp.userIdx = u.userIdx
		        WHERE pp.partyCode = #{partyCode}
		    ) tb
		<![CDATA[
		    WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
		]]>
	</select>
</mapper>