<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="payment">
	<select id="selectStoreCode" resultType="com.sp.payment.Payment">
		SELECT tb.* FROM (
			SELECT pgIdentcode, storeCode, storeName
			FROM pgIdent
		) tb WHERE ROWNUM = 1
	</select>
	
	<select id="selectUserInfo" parameterType="Integer" resultType="com.sp.payment.Payment">
		SELECT userIdx, userId, userName, postCode, userAddr1, userAddr2, userTel, userEmail 
		FROM tb_user
		WHERE userIdx = #{userIdx}
	</select>
	
	<insert id="insertOrder" parameterType="com.sp.payment.Payment">
		INSERT INTO order_master(orderCode, userIdx, orderDate, name, receiveType, memo, totalMoney, separate)
			VALUES(orderCode_seq.NEXTVAL, #{userIdx}, SYSDATE, #{name}, #{receiveType}, #{memo}, #{totalMoney}, #{separate}) 
	</insert>
	
	<select id="checkPurchase" parameterType="Integer">
		SELECT separate, cardName, confirmNum, confirmMoney, ,confirmDate, odCode, orderCode,  productCode, amount, price 
		FROM tb_pay_master tpm
		WHERE payCode = #{orderCode}
		JOIN order_dh dh ON tpm.payCode = dh.orderCode
		JOIN order_dt dt ON tpm.payCode = dt.orderCode
		JOIN order_dtr dtr ON tpm.payCode = dtr.orderCode
	</select>
</mapper>