<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticket">

<sql id="where-list">
		<choose>
			<when test="searchKey == 'all' ">
			(INSTR(subject, #{searchValue}) &gt; 0
				OR DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0)	
			</when>
			<when test="searchKey == 'subject' ">
			INSTR(subject, #{searchValue}) &gt; 0
			</when>
			<when test="searchKey == 'content' ">
			DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0
			</when>
			<when test="searchKey == 'created' ">
			(TO_CHAR(created, 'YYYYMMDD') = #{searchValue}
				OR TO_CHAR(created, 'YYYY-MM-DD') = #{searchValue})
			</when>
			<otherwise>
				INSTR(${searchKey}, #{searchValue}) &gt; 0
			</otherwise>
		</choose>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM ticket t
		JOIN store s ON t.storeCode=s.storeCode
		<where>
			<if test="regionCode != 0">
				locCode=#{regionCode}
			</if>
		</where>
	</select>
	
	<select id="listTicket" parameterType="map" resultType="com.sp.ticket.Ticket">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		    	SELECT t.ticketCode, ticketName, t.storeCode, detail.price, locCode, s.categoryCode, s.address1
		    	FROM ticket t
		    	JOIN (
		    			select ticketCode, max(price) as price
		    			FROM ticketDetail
		    			GROUP BY ticketCode
				) detail on detail.ticketCode=t.ticketCode
				JOIN store s ON t.storeCode=s.storeCode
				<where>
					<if test="regionCode != 0">
						locCode=#{regionCode}
					</if>
				</where>
				ORDER BY t.ticketCode DESC
<![CDATA[				
	        )tb WHERE ROWNUM <= #{end}
       )WHERE rnum >= #{start}
]]>
	</select>
	
	<select id="region" resultType="com.sp.ticket.Ticket">
		SELECT locCode, locName
		FROM ticketLocation
	</select>
	
	<select id="category" resultType="com.sp.ticket.Ticket">
		SELECT categoryCode, categoryName
		FROM ticketCategory
	</select>



</mapper>