@charset "UTF-8";

#navBar {
  float:left;
  height: 750px;
  border : 1px solid #e4e4e4;
  padding:0;
}
.workspace-title {
	width:100%;
	background : #707070;
	padding: 5px; 3px;
}

.searchSpace {
	width:20%;
	background-color: #e4e4e4;
	height:750px;
}

.scrollbox {
  width: 100%;
  height: 90%;
  font-size: 1.2em;
  line-spacing: 20px;
  overflow-y: scroll;
}

.LocList {
	border-bottom : 1px solid #b3b3b3;
	width: 100%; 
	height:100px;
	cursor: pointer;
	padding:15px 5px;
}

.LocList:hover {
	background-color: #e4e4e4;
}

.locImage {
	width: 70px;
	height: 70px;
	float:left;
}


  
.next3 {
	float:right;
  color: #95a5a6;
  font-size: 2em;
  font-family: 'Ropa Sans', sans-serif;
  transition:all .2s linear;
  -o-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -webkit-transition:all .2s linear;
  position: relative;
  right:0px;
  top:12px;
}

.landmark-title {
	width:100%;
	height:65px;
	background : teal;
	padding: 5px; 3px;
}